* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 2rem;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: white;
    line-height: 1.5;
    background-color:grey;
    justify-content: center;
    align-items: flex-start;
    
    
}

main {
    margin: 0 auto;
    width: 75rem;
    height: 200rem;
    font-family: 'Poppins', sans-serif;
    color: black;
    border: 1px;
    background-color: white;

}

.navbar {
    width: auto;
    height: 70px;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: black;
    border: 2px;

}

a {
    color:black;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;

}

h1, h2, h3 {
    margin-bottom: 1rem;
    color: #f1f1f1;
    font-weight: 600;

}

button {
    padding: 0.5rem 1rem;
    color:brown;
    font-weight: 400;
    border: none;
    background-color:white;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

}

button-hover {
    background-color: darkgrey;
}
