* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #2f2f2f; /* tummanharmaa tausta */
  color: #222;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navbar */
.navbar {
  width: 100%;
  background-color: #000; /* musta yläpalkki */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  margin: 0 auto;
  border-radius: 7px 7px 0 0;
}

.logo1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 1rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.links li a {
  background-color: #222;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}

.links li a:hover {
  background-color: #555;
}
